<div class="collection_new_list">
  <div class="collection_content_img">
    <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2_256x256.jpg?v=1656500179">
  </div>
  <div class="collection_content_block_main">
    <div class="collection_content_block">
      <div class="blanket_image">
        <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/blanket_image.png?v=1657106987">
      </div>
      <div class="blanket_content">
        <div class="price_div Heading">
          <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
          
          {%- if product.available -%}
            {%- if product.compare_at_price > product.price -%}
                <span class="ProductItem__Label ProductItem__Label--onSale Heading Text--subdued">{{ 'product.labels.on_sale' | t }}</span>
            {%- endif -%}
          {%- else -%}
              <span class="ProductItem__Label ProductItem__Label--soldOut Heading Text--subdued">{{ 'product.labels.sold_out' | t }}</span>
          {%- endif -%}
          
          <span class="price">229</span>
        </div>
        <h2 class="title Heading">
          <span>{{ product.title | escape }}</span>
          <span class="title_extra">{{ product.metafields.td_field.collection_product_subheading | escape }}</span>
        </h2>
        <hr class="ce_divider">
        <div class="ce_container_wrapper">
          {% if product.metafields.td_field.collection_product_icon1 %}
          <div class="ce_container">
            <div class="icon-30">
              {% assign collection_selected_icon = product.metafields.td_field.collection_product_icon1 | string %}
              {% render 'icons_monotone', collection_selected_icon:collection_selected_icon %}
            </div>
            <div class="Heading u-h6">
              {% assign collection_icon_title = product.metafields.td_field.collection_icon1_title | escape %}
              {{ collection_icon_title | default: "icon_title" | escape }}
              {% assign collection_icon_subheading = product.metafields.td_field.collection_icon1_subheading | escape %}
              <span>{{ collection_icon_subheading | default: "icon_subheading" | escape }}</span>
            </div>
          </div>
          {% endif %}
          {% if product.metafields.td_field.collection_product_icon2 %}
          <div class="ce_container">
            <div class="icon-30">
              {% assign collection_selected_icon = product.metafields.td_field.collection_product_icon2 | string %}
              {% render 'icons_monotone', collection_selected_icon:collection_selected_icon %}
            </div>
            <div class="Heading u-h6">
              {% assign collection_icon_title = product.metafields.td_field.collection_icon2_title | escape %}
              {{ collection_icon_title | default: "icon_title" | escape }}
              {% assign collection_icon_subheading = product.metafields.td_field.collection_icon2_subheading | escape %}
              <span>{{ collection_icon_subheading | default: "icon_subheading" | escape }}</span>
            </div>
          </div>
          {% endif %}
          {% if product.metafields.td_field.collection_product_icon3 %}
          <div class="ce_container">
            <div class="icon-30">
              {% assign collection_selected_icon = product.metafields.td_field.collection_product_icon3 | string %}
              {% render 'icons_monotone', collection_selected_icon:collection_selected_icon %}
            </div>
            <div class="Heading u-h6">
              {% assign collection_icon_title = product.metafields.td_field.collection_icon3_title | escape %}
              {{ collection_icon_title | default: "icon_title" | escape }}
              {% assign collection_icon_subheading = product.metafields.td_field.collection_icon3_subheading | escape %}
              <span>{{ collection_icon_subheading | default: "icon_subheading" | escape }}</span>
            </div>
          </div>
          {% endif %}
          {% if product.metafields.td_field.collection_product_icon4 %}
          <div class="ce_container">
            <div class="icon-30">
              {% assign collection_selected_icon = product.metafields.td_field.collection_product_icon4 | string %}
              {% render 'icons_monotone', collection_selected_icon:collection_selected_icon %}
            </div>
            <div class="Heading u-h6">
              {% assign collection_icon_title = product.metafields.td_field.collection_icon4_title | escape %}
              {{ collection_icon_title | default: "icon_title" | escape }}
              {% assign collection_icon_subheading = product.metafields.td_field.collection_icon4_subheading | escape %}
              <span>{{ collection_icon_subheading | default: "icon_subheading" | escape }}</span>
            </div>
          </div>
          {% endif %}
          {% if product.metafields.td_field.collection_product_icon5 %}
          <div class="ce_container">
            <div class="icon-30">
              {% assign collection_selected_icon = product.metafields.td_field.collection_product_icon5 | string %}
              {% render 'icons_monotone', collection_selected_icon:collection_selected_icon %}
            </div>
            <div class="Heading u-h6">
              {% assign collection_icon_title = product.metafields.td_field.collection_icon5_title | escape %}
              {{ collection_icon_title | default: "icon_title" | escape }}
              {% assign collection_icon_subheading = product.metafields.td_field.collection_icon5_subheading | escape %}
              <span>{{ collection_icon_subheading | default: "icon_subheading" | escape }}</span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <a href="{{ product.url | within: collection }}" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
  </div>
</div>