{% for variant in product.variants %}
  {% if variant.metafields.td_field.seasonal_variant_dynamic_info and settings.seasonal_product_info %}
      {% assign seasonal_class = "seasonal-info hide" %}
      {% if variant.id == product.selected_or_first_available_variant.id %}
          {% assign design_class = "seasonal-info" %}
      {% endif %}
      <div data-variant-id="{{variant.id}}" class="{{ seasonal_class }}">
        {{ variant.metafields.td_field.seasonal_variant_dynamic_info }}
      </div>
	{{ variant.metafields.td_field.seasonal_variant_dynamic_info }}
  {% else %}
    {% if variant.metafields.bgd.cover-type %}
      {% assign design_class = "info-wr hide" %}
      {% if variant.id == product.selected_or_first_available_variant.id %}
          {% assign design_class = "info-wr" %}
      {% endif %}
      <div data-variant-id="{{variant.id}}" class="{{ design_class }}">
        {{ variant.metafields.bgd.cover-type }}
      </div>
    {% endif%}
  {% endif%}

{% endfor %}