<!-- section: slideshow.liquid -->
{{ 'promotion-home-hero.css' | asset_url | stylesheet_tag }}
{{ 'slideshow.css' | asset_url | stylesheet_tag }}

{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "setGallerySize": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "adaptiveHeight": {% if section.settings.show_fullscreen %}false{% else %}true{% endif %},
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Slideshow {% if section.settings.show_fullscreen %}Slideshow--fullscreen{% endif %}">
    <div class="Slideshow__Carousel {% if section.settings.show_arrow %}Slideshow__Carousel--withScrollButton{% endif %} Carousel Carousel--fadeIn {% if section.settings.show_fullscreen %}Carousel--fixed{% endif %} Carousel--insideDots"
         data-flickity-config='{{ flickity_options }}'>
      {%- for block in section.blocks -%}
        {%- capture slide_content -%}
      	  {%- assign desktop_image = settings.promotional_hero_image -%}
      	  {% comment %}
          {%- assign mobile_image = settings.promotional_hero_image -%}
          {%- if mobile_image -%}
            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% unless section.settings.show_fullscreen %}AspectRatio{% endunless %} hidden-tablet-and-up"
                 style="{% unless section.settings.show_fullscreen %}--aspect-ratio: {{ mobile_image.aspect_ratio }};{% endunless %} background-image: url({{ mobile_image | img_url: '1x1', format: 'jpg' }})">
                  <img class="Slideshow__Image" src="{{ mobile_image | img_url: 'x400' }}" alt="{{ mobile_image.alt | escape }}">
            </div>
          {%- endif -%}
      	  {% endcomment %}
          {%- if settings.promotional_hero_image -%}

            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% unless section.settings.show_fullscreen %}AspectRatio AspectRatio--withFallback{% endunless %} {% comment %}hidden-phone{% endcomment %}"
                 style="{% unless section.settings.show_fullscreen %}padding-bottom: {{ 100.0 | divided_by: settings.promotional_hero_image.aspect_ratio }}%; --aspect-ratio: {{ settings.promotional_hero_image.aspect_ratio }};{% endunless %} background-image: url({{ settings.promotional_hero_image | img_url: '1x1', format: 'jpg' }})">
              <img class="Slideshow__Image Image--lazyLoad"
                   data-src="{{ settings.promotional_hero_image | img_url: '1000x' }}"
                   data-src="{{ settings.promotional_hero_image }}"
                   data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                   data-aspectratio="{{ settings.promotional_hero_image.aspect_ratio }}"
                   data-sizes="auto"
                   data-parent-fit="cover"
                   alt="{{ settings.promotional_hero_image.image.alt | escape }}">
            </div>
      
          {%- else -%}
            <div class="Slideshow__ImageContainer {% if block.settings.apply_overlay %}Image--contrast{% endif %} {% if section.settings.show_fullscreen %}PlaceholderBackground{% endif %} PlaceholderSvg--dark">
              {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
              {{ placeholder | placeholder_svg_tag: 'Slideshow__Image PlaceholderBackground__Svg' }}
            </div>
          {%- endif -%}

          {%- capture slideshow_content -%}
			<div class="promotion-home-hero_content_container">
  	          <div class="home_promotional_content_wrapper">
                <img class="homePromotional_art_desktop Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_Father_s_day_promotion.svg?v=1653035128" alt="Therapiedecken Father's day homepage">
                {%- if settings.button_1_text != blank -%}
                  <div class="home_promotional_bottom_part">
                    <a href="{{ settings.button_1_link }}" class="promotion-home-hero_button Button Button--primary" >{{ settings.button_1_text | escape }}</a>
                  </div>
                {%- endif -%}
               </div>
			</div>
          {%- endcapture -%}

          {%- if slideshow_content != blank -%}
            <div class="Slideshow__Content Slideshow__Content--{{ block.settings.content_position }}">
              <header class="SectionHeader">
                {{ slideshow_content }}
              </header>
            </div>
          {%- endif -%}
        {%- endcapture -%}

        {%- comment -%}This code allows to cover a common use case where merchant would like to have a clickable image{%- endcomment -%}

        {%- if settings.button_1_text == blank and settings.button_1_link != blank -%}
          <a href="{{ settings.button_1_link }}" id="Slide{{ block.id }}" class="Slideshow__Slide Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {{- slide_content -}}
          </a>
        {%- else -%}
          <div id="Slide{{ block.id }}" class="Slideshow__Slide Carousel__Cell {% if forloop.first %}is-selected{% endif %}" {% if forloop.first %}style="visibility: visible"{% endif %} data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {{- slide_content -}}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  <div class="certificate-hp">
    <p class="badge-certificate-text">#1 Test- & Preis-Leistungs-Sieger aller Gewichtsdecken</p>
    <img class="badge-certificate Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Balance_Zertifikat_Gewichtsdecken.de_Testsieger.jpg?v=1585048786" alt="balance gewichtsdecken.de zertifikat">
  </div>
  <span id="section-{{ section.id }}-end" class="Anchor"></span>
</section>

<style>
  #section-{{ section.id }} .Heading,
   #section-{{ section.id }} .flickity-page-dots {
    color: {{ section.settings.text_color }};
  }
</style>