{{ 'suggested_upsell_product.css' | asset_url | stylesheet_tag }}

{% if product.title contains 'Therapiedecken Baumwollbezug' or product.title contains 'Therapiedecken Basic Bezug' %}
  {% comment %}Find comparable product by title - Suggested PILLOW Upsell on Cover Product Pages {% endcomment %}
  {% if product.title contains 'Therapiedecken Baumwollbezug' %}
      {% assign cover_title_base = product.title | remove: 'Therapiedecken Baumwollbezug' | strip %}
  {% endif %}
  {% if product.title contains 'Therapiedecken Basic Bezug' %}
      {% assign cover_title_base = product.title | remove: 'Therapiedecken Basic Bezug' | strip %}
  {% endif %}

  {% comment %}Place Upsell product under the buy button - Suggested PILLOW Upsell on Cover Product Pages {% endcomment %}
  {% layout none %}
  {% paginate collections['Therapiekissen'].products by 1000 %}
    {% for product in collections['Therapiekissen'].products %}
      {% if product.title contains cover_title_base %}
        {% for variant in product.variants %}
          {% if  variant.option1 == "Normal" and variant.option2 == "40 x 80 cm" %}
            {%- assign image_url = variant.image.src | image_url: width: 300 -%}
            <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ variant.id }}">
              <a href="{{ product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
              <div class="SuggestedUpProd_infoWr">
                <a href="{{ product.url }}"><h2>{{ product.title }}</h2></a>
                <div>
                  <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">
                    {{ variant.price | money_without_trailing_zeros }}
                  </span>
                  <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">
                    {{ variant.compare_at_price | money_without_trailing_zeros }}
                  </span>

                  <div class="SuggestedUpPro_variantText">
                    {% for size_option in product.options_by_name['Größe'].values[4] %}
                       Größe: {{ size_option }} <br>
                    {% endfor %}
                    {% for size_option in product.options_by_name['Füllung'].values[0] %}
                        Füllung: {{ size_option }}
                    {% endfor %}
                  </div>
                </div>
                <button type="submit"
                        class="SuggestedUpProd_buttonWr Button Button--primary"
                        data-ajax-cart-request-button
                        onclick="overlayOn()">
                  Hinzufügen
                </button>
              </div>
            </form>
           {% endif %}
         {% endfor %}
        <h2 class="Heading u-h5 SuggestedUpProd_Heading"> Bezug + Kissen kombinieren & <span style="color: #ba2e2e">10% sparen!</span> </h2>
      {% endif %}
    {% endfor %}
  {% endpaginate %}
{% endif %}

{% if product.title contains 'Gesundheitskissen' %}
  {% comment %}Find comparable product by title - Suggested COVER Upsell on Pillow Product Pages {% endcomment %}
  {% assign pillow_title_base = product.title | remove: 'Gesundheitskissen' | strip %}

  {% comment %}Place Upsell product under the buy button - Suggested COVER Upsell on Pillow Product Pages {% endcomment %}
  {% layout none %}
  {% paginate collections['ersatzbezuge-fur-therapiedecken'].products by 1000 %}
    {% for product in collections['ersatzbezuge-fur-therapiedecken'].products %}
      {% if product.title contains pillow_title_base %}
        {%- assign image_url = product.images[0] | image_url: width: 300 -%}
        <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <a href="{{ product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
          <div class="SuggestedUpProd_infoWr">
            <a href="{{ product.url }}"><h2>{{ product.title }}</h2></a>
            <div>
              <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
              <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
              <div class="SuggestedUpPro_variantText">
                {% for size_option in product.options_by_name['Größe'].values[0] %}
                   Größe: {{ size_option }} <br>
                {% endfor %}
                {% for size_option in product.options_by_name['Füllung'].values[0] %}
                    Füllung: {{ size_option }}
                {% endfor %}
              </div>
            </div>
            <button type="submit"
                    class="SuggestedUpProd_buttonWr Button Button--primary" 
                    data-ajax-cart-request-button
                    onclick="overlayOn()">
              Hinzufügen
            </button>
          </div>
        </form>
        <h2 class="Heading u-h5 SuggestedUpProd_Heading"> Kissen + Bezug kombinieren & <span style="color: #ba2e2e">10% sparen!</span> </h2>
      {% endif %}
    {% endfor %}
  {% endpaginate %}
{% endif %}

{% if product.handle == 'balance-gewichtsdecke-fur-erwachsene' or product.handle == 'therapiedecken' %}
  {% assign upsell_product = all_products['graues-gesundheitskissen-fur-erwachsene'] %}
  {% for variant in upsell_product.variants %}
    {% if variant.option1 == "Ohne (Nur Kissenbezug)" %}
      {% assign variant_filling =  variant.option1 %}
	{% endif %}
    {% if variant.option2 == "40 x 80 cm" %}
      {% assign variant_size =  variant.option2 %}
	{% endif %}
  {% endfor %}
      {% if variant_size and variant_filling %}
        {%- assign image_url = upsell_product.featured_image | image_url: width: 300 -%}
        <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
          <input type="hidden" name="id" value="39460604838027">
          <a href="{{ upsell_product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
          <div class="SuggestedUpProd_infoWr">
            <a href="{{ upsell_product.url }}"><h2>{{ upsell_product.title }}</h2></a>
            <div>
              <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">{{ upsell_product.price | money_without_trailing_zeros }}</span>
              <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">{{ upsell_product.compare_at_price | money_without_trailing_zeros }}</span>
              <div class="SuggestedUpPro_variantText">
                Größe: {{ variant_size }} <br>
                Füllung: {{ variant_filling }}
              </div>
            </div>
            <button type="submit" 
                    class="SuggestedUpProd_buttonWr Button Button--primary" 
                    data-ajax-cart-request-button
                    onclick="overlayOn()">
              Hinzufügen
            </button>
          </div>
        </form>
        <h2 class="Heading u-h5 SuggestedUpProd_Heading"> Gewichtsdecke + Bezug kombinieren & <span style="color: #ba2e2e">5% sparen!</span> </h2>
      {% endif %}
{% endif %}

{% if product.handle == 'basic-gravity-gewichtsdecke-fur-erwachsene' %}
  {% assign upsell_product = all_products['hellgraues-therapiekissen-fur-erwachsene'] %}
  {% for variant in upsell_product.variants %}
    {% if variant.option1 == "Ohne (Nur Kissenbezug)" %}
      {% assign variant_filling =  variant.option1 %}
	{% endif %}
    {% if variant.option2 == "40 x 80 cm" %}
      {% assign variant_size =  variant.option2 %}
	{% endif %}
  {% endfor %}
      {% if variant_size and variant_filling %}
        {%- assign image_url = upsell_product.featured_image | image_url: width: 300 -%}
        <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
          <input type="hidden" name="id" value="39460605034635">
          <a href="{{ upsell_product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
          <div class="SuggestedUpProd_infoWr">
            <a href="{{ upsell_product.url }}"><h2>{{ upsell_product.title }}</h2></a>
            <div>
              <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">{{ upsell_product.price | money_without_trailing_zeros }}</span>
              <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">{{ upsell_product.compare_at_price | money_without_trailing_zeros }}</span>
              <div class="SuggestedUpPro_variantText">
                Größe: {{ variant_size }} <br>
                Füllung: {{ variant_filling }}
              </div>
            </div>
            <button type="submit" 
                    class="SuggestedUpProd_buttonWr Button Button--primary" 
                    data-ajax-cart-request-button
                    onclick="overlayOn()">
              Hinzufügen
            </button>
          </div>
        </form>
        <h2 class="Heading u-h5 SuggestedUpProd_Heading"> Gewichtsdecke + Bezug kombinieren & <span style="color: #ba2e2e">5% sparen!</span> </h2>
      {% endif %}
{% endif %}

{% if product.handle == 'premium-balance-gewichtsdecke-fur-kinder' or product.handle == 'gravity-gewichtsdecke-fur-kinder' or product.handle == 'medizinische-gewichtsdecke-fur-kinder' %}
  {% assign upsell_product = all_products['gesundheitskissen-mit-erdbeeren-muster-fur-kinder'] %}
  {% for variant in upsell_product.variants %}
    {% if variant.option1 == "Ohne (Nur Kissenbezug)" %}
      {% assign variant_filling =  variant.option1 %}
	{% endif %}
    {% if variant.option2 == "40 x 80 cm" %}
      {% assign variant_size =  variant.option2 %}
	{% endif %}
    {% if variant.id == 39690333126795 %}
      {% assign upsell_variant =  variant %}
	{% endif %}
  {% endfor %}
  {% if variant_size and variant_filling %}
  	{%- assign image_url = upsell_product.featured_image | image_url: width: 300 -%}
    <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
      <input type="hidden" name="id" value="39690333126795">
      <a href="{{ upsell_product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
      <div class="SuggestedUpProd_infoWr">
        <a href="{{ upsell_product.url }}"><h2>{{ upsell_product.title }}</h2></a>
        <div>
          <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">{{ upsell_variant.price | money_without_trailing_zeros }}</span>
          <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">{{ upsell_variant.compare_at_price | money_without_trailing_zeros }}</span>
          <div class="SuggestedUpPro_variantText">
            Größe: {{ variant_size }} <br>
            Füllung: {{ variant_filling }}
          </div>
        </div>
        <button type="submit"
                class="SuggestedUpProd_buttonWr Button Button--primary" 
                data-ajax-cart-request-button
                onclick="overlayOn()">
          Hinzufügen
        </button>
      </div>
    </form>
    <h2 class="Heading u-h5 SuggestedUpProd_Heading"> Gewichtsdecke + Bezug kombinieren & <span style="color: #ba2e2e">5% sparen!</span> </h2>
  {% endif %}
{% endif %}

{% assign suggestedCollection = collection %}
{% assign mainCollection = collection %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
