{{ 'suggested_upsell_product.css' | asset_url | stylesheet_tag }}

{% assign cover_title_base = product.title | remove: "Therapiedecken Baumwollbezug"  %}
{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

<br>
<br>

{% for collection in collections %}
  {% if collection.title == 'Therapiekissen' %}
    {% for product in collection.products %}
      {% if product.title contains cover_title_base %}
        {%- assign image_url = product.images[1] | image_url: width: 300 -%}
        <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <a href="{{ product.url }}"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
          <div class="SuggestedUpProd_infoWr">
            <a href="{{ product.url }}"><h2>{{ product.title }}</h2></a>
            <p>
              <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
              <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
            </p>
            <button class="SuggestedUpProd_buttonWr Button Button--primary" type="submit">Hinzufügen</button>
          </div>
        </form>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}


{% assign suggestedCollection = collection %}
{% assign mainCollection = collection %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
