{% style %}
  .Suggested_Price--highlight{
  	color:#ba2e2e
  }
  .Suggested_Price--compareAt{
	text-decoration: line-through;
	font-family: var(--text-font-family);
	padding-left: 5px;
	font-size: 14px !important;
  }

{% endstyle %}

{{ 'suggested_upsell_product.css' | asset_url | stylesheet_tag }}

{% if product.title contains 'Therapiedecken Baumwollbezug' %}
	{% assign cover_title_base = product.title | remove: 'Therapiedecken Baumwollbezug' | strip %}
{% endif %}
{% if product.title contains 'Therapiedecken Basic Bezug' %}
	{% assign cover_title_base = product.title | remove: 'Therapiedecken Basic Bezug' | strip %}
{% endif %}
{% if product.title contains 'Therapiedecken Basic Bezug' %}
	{% assign cover_title_base = product.title | remove: 'Therapiedecken 4-Jahreszeiten Bezug' | strip %}
{% endif %}

{% layout none %}
{% paginate collections['Therapiekissen'].products by 1000 %}
  {% for product in collections['Therapiekissen'].products %}
    {% if product.title contains cover_title_base %}
      {%- assign image_url = product.images[1] | image_url: width: 300 -%}
      <form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <a href="{{ product.url }}" style="align-self: center;"><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
        <div class="SuggestedUpProd_infoWr">
          <a href="{{ product.url }}"><h2>{{ product.title }}</h2></a>
          <p>
            <span class="ProductMeta__Price Price Suggested_Price--highlight Text--subdued u-h4" style="font-weight:bold">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
            <span class="ProductMeta__Price Price Suggested_Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
            {{ product.options_by_name }}
          </p>
          <button class="SuggestedUpProd_buttonWr Button Button--primary" type="submit">Hinzufügen</button>
        </div>
      </form>
    {% endif %}
  {% endfor %}
{% endpaginate %}



{% assign suggestedCollection = collection %}
{% assign mainCollection = collection %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
