{%- for option in product.options_with_values -%}

{% if option.name == "Bezugssystem" %}
            <p class="VariantValue--style">
              {% assign simple_value = value %}
              {% assign name_variant = simple_value %}            
              {{ name_variant | escape }}    
            </p>           
          {% else %}
          	<p class="VariantValue--style">
              {% assign simple_value = value | split: '(' | last %}
              {% assign name_variant = simple_value | split: ')' | first %}
              {{ name_variant | escape }}    
           	</p>
           {% endif %}

          {% comment %} Is Limited Badge - bgd.is_limited Metafield {% endcomment %}  
          {% for variant in product.variants %}
              {% if variant.option3 == value %}
                  {% assign is_limited = variant.metafields.bgd.is_limited %}
                  {% if is_limited == "true" %}
                       <div
                       class="is-limited-badge"
                       data-variant-id="{{ variant.id }}"
                       data-variant-option1="{{ variant.option1 }}"
                       data-variant-option2="{{ variant.option2 }}"
                       data-variant-option3="{{ variant.option3 }}"
                       >
                       Limitiert
                       </div>
                 {% endif %}
              {% endif%}
          {% endfor %}
           
          {% comment %} On Sale Badge - bgd.on_sale Metafield {% endcomment %}
          {% for v in product.variants %}
              {% if v.option3 == value %}
                  {% assign onSale = v.metafields.bgd.on_sale %}
                  {% if onSale %}
                     <div
                       class="on-sale-badge"
                       data-variant-id="{{ v.id }}"
                       data-variant-option1="{{ v.option1 }}"
                       data-variant-option2="{{ v.option2 }}"
                       data-variant-bezugsart="{{ v.option3 }}"
                       >
                       {{ onSale }}
                     </div>
                 {% endif %}
              {% endif%}
          {% endfor %}
{% endfor %}

