{% style%}

header.html-text-wr{
  padding: 0 30px;
}
.FeaturedImage-banner{
  display:none;
}
.FeaturedImage-banner>img{
  width: 100%
}

@media only screen and (max-width: 641px){
  .FeaturedText__banner{
    margin: 0 30px;
    display: inline-flex;
  }
  header.html-text-wr{
    padding: 0;
  }
  .FeatureText__ImageWrapper-desktop{
    display:none;
  }
  .FeaturedImage-banner{
    display:flex;
	margin-bottom: -70px;
  }
}
{% endstyle %}



<section class="Section {% unless section.settings.image %}Section--spacingNormal{% endunless %}">
  {% for block in section.blocks %}
  	<div style="background-color: {{ block.settings.bg-color }}; padding: {{ block.settings.spacer }}; ">
      {% endfor %}
      

  
    {%- capture section_content -%}
 
    <div class="FeaturedImage-banner">
     <img class="Image--lazyLoad" data-src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
    </div>
    <div class="FeatureText__ContentWrapper FeaturedText__banner"
        {% for block in section.blocks %} style="background-color:{{ block.settings.bg-color-text-html }}; {% endfor %}">
         
      <div class="FeatureText__Content">
        {%- if section.settings.subheading != blank or section.settings.title != blank or section.settings.content_html
        != blank -%}
        <header class="SectionHeader html-text-wr">
          {%- if section.settings.subheading != blank -%}
          <p class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</p>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.content_html != blank -%}
          <div class="SectionHeader__Description Rte">
            {{ section.settings.content_html }}
          </div>
          {%- endif -%}

          {%- if section.settings.link_text != blank -%}
          <a href="{{ section.settings.link_url }}" class="Link Link--underline">{{ section.settings.link_text | escape
            }}</a>
          {%- endif -%}
        </header>
        {%- endif -%}
      </div>
    </div>
    {%- endcapture -%}

    {%- capture section_image -%}
    {%- if section.settings.image != blank -%}
    <div class="FeatureText__ImageWrapper FeatureText__ImageWrapper-desktop">
      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image:
      section.settings.image -%}{%- endcapture -%}

      <div class="AspectRatio"
        style="max-width: {{ section.settings.image.width }}px; --aspect-ratio: {{ section.settings.image.aspect_ratio }}">
        {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="Image--lazyLoad Image--slide{{ section.settings.image_position | capitalize }}"
          data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto"
          alt="{{ section.settings.image.alt | escape }}">

        <noscript>
          <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
        </noscript>
      </div>
    </div>
    {%- endif -%}
    {%- endcapture -%}

    <div
      class="FeatureText {% if section.settings.image != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
      {%- if section.settings.image_position == 'left' -%}
      {{- section_image -}}
      {{- section_content -}}
      {%- else -%}
      {{- section_content -}}
      {{- section_image -}}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner Call 2 Action",
  "class": "banner-call2",
  "tag": "section",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "html",
      "id": "content_html",
      "label": "HTML",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "blocks": [
    {
      "type": "background",
      "name": "background colors",
      "settings": [
        {
          "type": "text",
          "id": "spacer",
          "label": "Space Top and Bottom",
          "default": "50px"
        },
        {
          "type": "color",
          "id": "bg-color",
          "label": "Background Color Container"
        },
        {
          "type": "color",
          "id": "bg-color-text-html",
          "label": "Background Color Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Banner",
      "name": "Banner Call 2 Action",
      "settings": {}
    }
  ]
}

{% endschema %}