{{ 'collection_list_new.css' | asset_url | stylesheet_tag }}

<div class="collection_new_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p>
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>
  
  <div class="collection_new_wrapper">
    {% for block in section.blocks %}
      <div class="collection_new_list">
          <div class="collection_content_img">
              <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2_256x256.jpg?v=1656500179">
          </div>
          <div class="collection_content_block_main">
            <div class="collection_content_block">
              <div class="blanket_image">
                <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/blanket_image.png?v=1657106987">
              </div>
              <div class="blanket_content">
                <div class="price_div Heading">
                  <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
                  <span class="price">229</span>
                </div>
                {% if block.settings.title %}
                  <h2 class="title Heading">
                    <span>{{ block.settings.title | default: collection.title | escape }}</span>
                    <span class="title_extra">{{ block.settings.subheading | default: collection.subheading | escape }}</span>
                  </h2>
                {% endif %}
                <hr class="ce_divider">
                <div class="ce_container_wrapper">
                  {% if block.settings.simple_icons %}
                  <div class="ce_container">
                      <div class="icon-30">
                        {% assign selected_icon = block.settings.simple_icons | json %}
                        {% render 'icons_monotone', selected_icon:selected_icon, block:block, settings:settings %}
                      </div>
                      <div class="Heading u-h6">
                        {{ block.settings.icon_title | default: collection.icon_title | escape }}
                        <span>{{ block.settings.icon_subheading | default: collection.icon_subheading | escape }}</span>
                      </div>
                  </div>
                  {% endif %}
                  {% if block.settings.simple_icons2 != 'none' %}
                  <div class="ce_container">
                      <div class="icon-30">
                        {% render 'icons_monotone', block:block, settings:settings %}
                      </div>
                      <div class="Heading u-h6">
                        Reißverschluss<span>Bezugssystem</span>
                      </div>
                  </div>
                  {% endif %}
                  {% if block.settings.simple_icons3 != 'none' %}
                  <div class="ce_container">
                      <div class="icon-30">
                        {% render 'icons_monotone' | %}
                      </div>
                      <div class="Heading u-h6">
                        Edelstahlperlen<span>Gewichtsmaterial</span>
                      </div>
                  </div>
                  {% endif %}
                  {% if block.settings.simple_icons4 != 'none' %}
                  <div class="ce_container">
                      <div class="icon-30">
                        {% render 'icons_monotone', block:block, settings:settings %}
                      </div>
                      <div class="Heading u-h6">
                        100% fest stabil<span>Gewichtsverteilung</span>
                      </div>
                  </div>
                  {% endif %}
                  {% if block.settings.simple_icons5 != 'none' %}
                  <div class="ce_container">
                    <div class="icon-30">
                        {% render 'icons_monotone', block:block, settings:settings %}
                    </div>
                    <div class="Heading u-h6">
                        Kühlmöglichkeit<span>Zusatzfunktion</span>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <a href="https://therapiedecken.de/collections/erwachsene/products/balance-gewichtsdecke-fur-erwachsene" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
          </div>
      </div>
    {% endfor %}
    
    
    
    <div class="collection_new_list">
        <div class="collection_content_img">
    		<img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2_256x256.jpg?v=1656500179">
        </div>
        <div class="collection_content_block_main">
          <div class="collection_content_block">
            <div class="blanket_image">
              <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/blanket_image.png?v=1657106987">
            </div>
            <div class="blanket_content">
              <div class="price_div Heading">
                <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
                <span class="price">229</span>
              </div>
              <h2 class="title Heading">
                <span>PREMIUM Balance</span>
                <span class="title_extra">Gewichtsdecke für Erwachsene</span>
              </h2>
              <hr class="ce_divider">
              <div class="ce_container_wrapper">
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-premium-cotton"></span>
                    </div>
                    <div class="Heading u-h6">
                      Premium Biobezüge<span>Bezug</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-zipper"></span>
                    </div>
                    <div class="Heading u-h6">
                      Reißverschluss<span>Bezugssystem</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-icn_metalballs"></span>
                    </div>
                    <div class="Heading u-h6">
                      Edelstahlperlen<span>Gewichtsmaterial</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-icn_stability100-1"></span>
                    </div>
                    <div class="Heading u-h6">
                      100% fest stabil<span>Gewichtsverteilung</span>
                    </div>
                </div>
                <div class="ce_container">
                  <div class="icon-30">
                      <span class="icon-cooling-blanket"></span>
                  </div>
                  <div class="Heading u-h6">
                      Kühlmöglichkeit<span>Zusatzfunktion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="https://therapiedecken.de/collections/erwachsene/products/balance-gewichtsdecke-fur-erwachsene" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
      	</div>
    </div>
    

    
    
  </div>
</div>

{% schema %}
  {
    "name": "Collection list new",
    "settings": [],
	"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1120 x 1200px .jpg recommended"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          },
          {
            "type": "select",
            "id": "simple_icons",
            "label": "Icon 1",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "select",
            "id": "simple_icons2",
            "label": "Icon 2",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collection name"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading",
            "default": "Sub-heading"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "View products"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "info": "If none is set, collection URL is used."
          },
          {
            "type": "checkbox",
            "id": "apply_overlay",
            "label": "Apply overlay on image",
            "info": "This can improve text visibility.",
            "default": true
          },
          {
            "type": "text",
            "id": "icon_title",
            "label": "Heading",
            "default": "Collection name"
          },
          {
            "type": "text",
            "id": "icon_subheading",
            "label": "Sub-heading",
            "default": "Sub-heading"
          }
        ]
      }
	],
	"presets": [
      {
        "category": "Collection",
        "name": "Collection list new",
        "settings": {},
        "blocks": [
          {
          	"type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }	
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}