<!-- section/block: content-single-column.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'product-custom.css' | asset_url | stylesheet_tag }}

{% style %}
  .TextSimple__Content-{{ section.id }}{
    position: relative;
	{%- if section.settings.block_style == false -%} padding: 0 70px;{% endif %}
	{%- if section.settings.margin_top != blank -%} margin-top: {{ section.settings.margin_top }};{% endif %}
  }
  .TextSimple__Spacer{
	{%- if section.settings.block_style and section.settings.margin_top == blank -%} height:50px;{% endif %}
  }
{% endstyle %}

<section class="Section">
    {% if section.settings.bg-color != blank %}<div class="TextSimple__Spacer" style="background-color: {{ section.settings.bg-color }};"></div>{% endif %}
    <div class="FeatureText__ContentWrapper" style="{% if section.settings.bg-color != blank %}background-color: {{ section.settings.bg-color }};{% endif %}">
      <div class="TextSimple__Content-{{ section.id }} {%- if section.settings.block_style -%}FeatureText__Content_addons{%- endif -%}" style="background-color:{{ section.settings.bg-color-text }}; text-align:{{ section.settings.text_align }};">

            {%- if section.settings.subheading != blank -%}
              <p class="Container--extraNarrow SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</p>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h2 class="Container--extraNarrow SectionHeader__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
            {%- endif -%}

            {% if section.settings.content != blank %}
              <div class="Container--extraNarrow">
                {{ section.settings.content }}
              </div>
            {% elsif section.settings.content_html != blank %}
              <div>
                {{ section.settings.content_html }}
              </div>
            {%- endif -%}

            {%- if section.settings.block_style -%}

            {%- endif -%}

            {%- if section.settings.add_image -%}
              {%- if section.settings.image != blank -%}
                <img data-src="{{ section.settings.image | img_url:'master' }}" class="image-text-simple Image--lazyLoad" />
              {%- endif -%}
            {%- endif -%}

            {%- if section.settings.info_after_image -%}
        	  <div class="Container--extraNarrow" style="padding-top:30px;">
              {% if section.settings.content2 != blank %}
                  {{ section.settings.content2 }}
                </div>
              {% elsif section.settings.content_html2 != blank %}
                  {{ section.settings.content_html2 }}
                </div>
              {%- endif -%}
            {%- endif -%}

            {%- if section.settings.link_text != blank -%}
              <div class="Button__Blocks" style="padding-top:30px;">
                <a href="{{ section.settings.link_url }}" class="{%- if section.settings.button_style -%}Button Button--primary{% else %}Link Link--underline{%- endif -%}">
                  {{ section.settings.link_text }}
                </a>
              </div>
            {%- endif -%}

      </div>
    </div>
    {% if section.settings.bg-color != blank %}<div class="TextSimple__Spacer" style="background-color: {{ section.settings.bg-color }};"></div>{% endif %}
</section>


{% schema %}
{
  "name": "Content Single Column",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "header",
	  "content": "Block Style",
	  "info": "Adds a block under the text with options for moving the block up or down"
    },
    {
      "type": "checkbox",
      "id": "block_style",
      "label": "Enable block style",
      "default": false
    },
    {
      "type": "header",
	  "content": "Settings"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
	  "info": "Write a minus value if you want to overlap the above content",
      "default": "0"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color Container"
    },
    {
      "type": "color",
      "id": "bg-color-text",
      "label": "Background Color Text",
	  "default": "#ffffff"
    },
    {
      "type": "select",
        "id": "text_align",
        "label": "Text Align",
        "info": "Align your text to the left or center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
      "default": "left"
    },
    {
      "type": "header",
	  "content": "Content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
    {
      "type": "html",
      "id": "content_html",
      "label": "HTML block for more styling",
      "default": "<p>ERASE the content of the block ABOVE is you want to use this block</p>"
    },
    {
      "type": "header",
	  "content": "Enable image",
	  "info": "Adds an image under the text content"
    },
	{
      "type": "checkbox",
      "id": "add_image",
      "label": "Add image?",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
	  "content": "Enable Content under Image",
	  "info": "Adds an image under the text content"
    },
	{
      "type": "checkbox",
      "id": "info_after_image",
      "label": "Adds text content after image with option for HTML",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Text",
      "default": "<p>Use when wanting text under image</p>"
    },
    {
      "type": "html",
      "id": "content_html2",
      "label": "HTML block for more styling",
      "default": "<p>ERASE the content of the block ABOVE is you want to use this block</p>"
    },
    {
      "type": "header",
	  "content": "Button/Link",
	  "info": "Adds button or a text link - chose the style by enable/disable the button style checkbox"
    },
	{
      "type": "checkbox",
      "id": "button_style",
      "label": "Enable button style",
      "default": true
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Content Single Column",
      "settings": {}
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
