<!-- section: experts-testimonials-custom.liquid -->

{% style %}

.tm21_wr_lp{
  display: flex;
  flex-wrap: wrap;
  max-width: 990px;
  justify-content: space-around;
}

.tm21_wr_lp > div {
  width: 300px;
}

.tm21_wr_hp{
  display: flex;
  max-width: 990px;
  justify-content: center;
}
.tm21_wr_hp > div {
  width: 380px;
}
@media only screen and (max-width: 640px){
  .tm21_wr_hidden {
    display: none !important;
  }
  .tm21_wr_hp{
	flex-wrap: wrap;
  }
}
@media only screen and (min-width: 641px){
}
.tm21_wr_quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -150px 20px 30px 20px;
}

.tm21_wr_quote a:before {
    height: 0px!important;
}

.tm21_pic_wr {
    position: relative;
    width: 150px!important;
    height: 150px!important;
    display: flex!important;
	z-index: 1;
    align-self: center;
    bottom: -150px;
}

.tm21_text_wr {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 75px;
  padding-top: 100px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  text-align: left;
  min-height: 385px;
}

.tm21_wr_lp > div a {
    text-decoration: none!important;
}

.tm21_wr_lp img, .tm21_pic_wr img {
	max-width: 100%!important;
}

.tm21_left_quote{
  margin-top: 10px;
  margin-bottom: -5px;
}
.tm21_citation > p {
  overflow: hidden;
}
.tm21_citation > p {
  margin: 0px;
  overflow: hidden;
}
.tm21_img{
  height: inherit;
}

{% endstyle %}


<div style="{% if section.settings.bg-color != blank %}background-color: {{ section.settings.bg-color }};{% endif %}">
  <div class="Container--standard--medium centered section-space-medium">
  	<h2 style="margin-bottom: 40px;" class="Heading u-h2">{{ section.settings.header }}</h2>
  
  	<div class="tm21_wr_hp">
      {% for block in section.blocks %}
        <div class="tm21_wr_quote">
          <div class="tm21_pic_wr">
            <img
              style="border-radius: 50%"
              class="tm21_img Image--lazyLoad"
              data-src="{{ block.settings.tm21_picture | img_url:'master' }}"
              src="{{ block.settings.tm21_picture | img_url:'master' }}"
              alt=""
            />
          </div>

            <div class="tm21_text_wr">
              <div style="font-weight: bold; margin-bottom: 0px" class="gral_font_16px tm21_name">
                {{ block.settings.tm21_name }}
              </div>
              {% if block.settings.tm21_role != blank %}
              <div style="font-weight: normal; height: 50px" class="gral_font_16px tm21_name">
                {{ block.settings.tm21_role }}
              </div>
              {% endif %}
              <div class="tm21_left_quote">
                <span class="gral_icon21_yellow gral_font_20px icon-left-quote"></span>
              </div>
              <div class="tm21_citation">
                {{ block.settings.tm21_paragraph }}
              </div>
              <div>
                <span style="position: relative; left: 220px" class="gral_icon21_yellow gral_font_20px icon-right-quote"></span>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Expert reviews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
