{% style %}
    .leadGrid_container{
        display: grid;
        gap: 30px;
        max-width: 1000px;
        margin: 30px auto;
        justify-content: center;
    }
    .leadGrid_productBlockWrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 400px;
        background-color: #f8f8f8;
        padding: 30px;
    }
    .leadGrid_productCharacteristicsWrapper{
        min-height: 120px;
    }
    .leadGrid_productBlockWrapper .Heading{
        margin-bottom: 0;
        text-align: center;
    }
    .leadGrid_iconTextWrapper{
        display: flex;
        align-items: center;
        padding: 5px 0;
    }
    .leadGrid_iconTextWrapper .icon-30{
        font-size: 30px;
    }
    .leadGrid_iconTextWrapper .icon-30:before{
        color: #3C3A3A;
    }
    .leadGrid_iconTextWrapper .Heading{
        line-height: 16px;
        font-weight: 700;
        padding-left: 10px;
    }
    .leadGrid_buttonBlock{
        margin-top: 10px;
    }
    .leadGrid_lowestPrice{
        font-size: 24px;
    }
    @media only screen and (max-width: 640px){
        .leadGrid_container{
            grid-template-columns: auto;
        }
        .leadGrid_productBlockWrapper{
            margin: 0 30px;
        }
    }
    @media only screen and (min-width: 641px){
        .leadGrid_container{
            grid-template-columns: 1fr 1fr 1fr;
        }
        .leadGrid_productBlockWrapper{
            width: 100%;
        }
    }
{% endstyle %}

{% assign medizin = all_products ['medizinische-gewichtsdecke-fur-kinder'] %}
{% assign balance = all_products ['premium-balance-gewichtsdecke-fur-kinder'] %}
{% assign gravity = all_products ['gravity-gewichtsdecke-fur-kinder'] %}

<div class="leadGrid_container">
  <a href="/collections/kinder/products/medizinische-gewichtsdecke-fur-kinder">
    <div class="leadGrid_productBlockWrapper">
          <span style="height: 42px;"></span>
          <img class="leadGrid_productImage" src="https://cdn.shopify.com/s/files/1/2451/6611/files/medical.png?v=1663601123" alt="medical-product" width="" height="auto">
          <h2 class="Heading u-h1">Medizinische</h2>
          <p class="Heading">Gewichtsdecke für Kinder</p>
          <div style='{{ jm_style }}; margin-bottom: 20px;' class='jdgm-widget jdgm-preview-badge' data-id='{{ medizin.id }}'
              data-template='{% if concierge_install == true or concierge_install == nil %}{{ template }}{% else %}manual-installation{% endif %}'
              data-auto-install='{% if auto_install != nil %}{{ auto_install }}{% else %}false{% endif %}'>
                  {{ medizin.metafields.judgeme.badge }}
          </div>
          <div class="leadGrid_productCharacteristicsWrapper">
              <div class="leadGrid_iconTextWrapper">
                  <span class="icon-30 icon-stability70"></span>
                  <p class="Heading u-h6">
                      70% fest stabil
                  </p>
              </div>
              <div class="leadGrid_iconTextWrapper">
                  <span class="icon-30 icon-icn_glassballs"></span>
                  <p class="Heading u-h6">
                      Glasperlen
                  </p>
              </div>
          </div>
          <p>Ab <span class="leadGrid_lowestPrice Heading Price--highlight">{{ medizin.price_min | money_without_trailing_zeros }}</span></p>
          <a href="/collections/kinder/products/medizinische-gewichtsdecke-fur-kinder" class="leadGrid_buttonBlock Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
      </div>
    </a>
    <div class="leadGrid_productBlockWrapper">
        <img class="leadGrid_logo" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gravity-black-svg-logo.svg?v=1661176871" alt="gravity-logo" width="100" height="auto">
        <img class="leadGrid_productImage" src="https://cdn.shopify.com/s/files/1/2451/6611/files/gravity_kids.png?v=1663601123" alt="gravity-product" width="" height="auto">
        <h2 class="Heading u-h1">Gravity</h2>
        <p class="Heading">Gewichtsdecke für Kinder</p>
        <div style='{{ jm_style }}; margin-bottom: 20px;' class='jdgm-widget jdgm-preview-badge' data-id='{{ gravity.id }}'
            data-template='{% if concierge_install == true or concierge_install == nil %}{{ template }}{% else %}manual-installation{% endif %}'
            data-auto-install='{% if auto_install != nil %}{{ auto_install }}{% else %}false{% endif %}'>
                {{ gravity.metafields.judgeme.badge }}
        </div>
        <div class="leadGrid_productCharacteristicsWrapper">
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-stability70"></span>
                <p class="Heading u-h6">
                    80% fest stabil
                </p>
            </div>
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-icn_glassballs"></span>
                <p class="Heading u-h6">
                    Glasperlen
                </p>
            </div>
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-icn_loopribbon"></span>
                <p class="Heading u-h6">
                    Schlaufen
                </p>
            </div>
        </div>
        <p>Ab <span class="leadGrid_lowestPrice Heading Price--highlight">{{ gravity.price_min | money_without_trailing_zeros }}</span></p>
        <a href="/collections/kinder/products/gravity-gewichtsdecke-fur-kinder" class="leadGrid_buttonBlock Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
    </div>
    <div class="leadGrid_productBlockWrapper">
        <img class="leadGrid_logo" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Balance-black-svg-logo.svg?v=1661176871" alt="balance-logo" width="100" height="auto">
        <img class="leadGrid_productImage" src="https://cdn.shopify.com/s/files/1/2451/6611/files/balance_kids.png?v=1663601123" alt="balance-product" width="" height="auto">
        <h2 class="Heading u-h1">Balance</h2>
        <p class="Heading">Gewichtsdecke für Kinder</p>
        <div style='{{ jm_style }}; margin-bottom: 20px;' class='jdgm-widget jdgm-preview-badge' data-id='{{ balance.id }}'
            data-template='{% if concierge_install == true or concierge_install == nil %}{{ template }}{% else %}manual-installation{% endif %}'
            data-auto-install='{% if auto_install != nil %}{{ auto_install }}{% else %}false{% endif %}'>
                {{ balance.metafields.judgeme.badge }}
        </div>
        <div class="leadGrid_productCharacteristicsWrapper">
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-icn_stability100-1"></span>
                <p class="Heading u-h6">
                    100% fest stabil
                </p>
            </div>
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-icn_metalballs"></span>
                <p class="Heading u-h6">
                    Edelstahlperlen
                </p>
            </div>
            <div class="leadGrid_iconTextWrapper">
                <span class="icon-30 icon-zipper"></span>
                <p class="Heading u-h6">
                    Reißverschluss
                </p>
            </div>
        </div>
        <p>Ab <span class="leadGrid_lowestPrice Heading Price--highlight">{{ balance.price_min | money_without_trailing_zeros }}</span></p>
        <a href="/collections/kinder/products/premium-balance-gewichtsdecke-fur-kinder" class="leadGrid_buttonBlock Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
    </div>
</div>


{% schema %}
{
  "name": "Grid Kinder",
  "settings": [],
  "presets": [
	{
      "category": "Pages",
      "name": "Grid Kinder",
      "settings": {}
	}
  ]
}
{% endschema %}