<!-- section: page-standard-header.liquid -->
{{ 'pages.css' | asset_url | stylesheet_tag}}
{{ 'slideshow.css' | asset_url | stylesheet_tag}}

<header class="PageHeader PageHeader--withBackground PageHeader--small PageStandHeader" style="min-height:300px">
  <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn {% if section.settings.apply_overlay %}Image--contrast{% endif %} {% if section.settings.mobile_custom %}hidden-phone{% endif %}"
     data-optimumx="1.2"
     data-bgset="{{ section.settings.image | img_url: 'x600' }} 600w, {{ section.settings.image | img_url: '800x' }} 800w, {{ section.settings.image | img_url: '1200x' }} 1200w, {{ section.settings.image | img_url: '1400x' }} 1400w, {{ section.settings.image | img_url: '1600x' }} 1600w">
  </div>
  {% if section.settings.mobile_custom %}
  <div class="PageHeader__ImageWrapper Image--lazyLoad Image--fadeIn {% if section.settings.apply_overlay %}Image--contrast{% endif %} hidden-tablet-and-up"
     data-optimumx="1.2"
     data-bgset="{{ section.settings.image_mobile | img_url: 'x600' }} 600w, {{ section.settings.image_mobile | img_url: '800x' }} 800w">
  </div>
  {% endif %}
  <noscript>
     <div class="PageHeader__ImageWrapper {% if section.settings.apply_overlay %}Image--contrast{% endif %}" style="background-image: url({{ collection.image | img_url: '800x' }})"></div>
  </noscript>
  <div class="SectionHeader SectionHeader--center" style="margin-bottom: 0; padding: 0 25px;">
    {% if section.settings.sub_headline != blank %}
      <p class="Heading u-h6" style="margin: 0;">{{ section.settings.sub_headline }}</p>
    {% endif %}
    <h1 class=" Heading u-h1">
      {% if section.settings.custom_title_text != blank %}
      	{{ section.settings.custom_title_text }}
      {% endif %}
    </h1>
    {%- if section.settings.custom_header != blank -%}
      <div class="SectionHeader__Description Rte">
        {{ section.settings.custom_header }}
      </div>
    {% endif %}
  </div>
</header>
{% if template contains "gewichtsdecken-im-test" %}
<div class="certificate-hp">
  <p class="badge-certificate-text">#1 Test- &amp; Preis-Leistungs-Sieger aller Gewichtsdecken</p>
  <img class="badge-certificate Image--lazyLoaded" data-src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Balance_Zertifikat_Gewichtsdecken.de_Testsieger.jpg?v=1585048786" alt="balance gewichtsdecken.de zertifikat" src="https://cdn.shopify.com/s/files/1/0327/7196/5066/files/Balance_Zertifikat_Gewichtsdecken.de_Testsieger.jpg?v=1585048786">
</div>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Custom heading"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_title",
      "label": "Enable custom heading",
      "default": false
    },
    {
      "type": "text",
      "id": "sub_headline",
      "label": "Sub Headline",
      "default": "Customize Title if needed"
    },
    {
      "type": "text",
      "id": "custom_title_text",
      "label": "Custom Title",
      "default": "Customize Title if needed"
    },
    {
      "type": "liquid",
      "id": "custom_header",
      "label": "Custom header",
      "info": "Replace standard headings for custom ones"
    },
    {
      "type": "header",
      "content": "Image header"
    },
    {
       "type": "image_picker",
       "id": "image",
       "label": "Image",
       "info": "1800 x 600px recommended"
    },
    {
      "type": "checkbox",
      "id": "mobile_custom",
      "label": "Mobile Picture",
      "default": false
    },
    {
       "type": "image_picker",
       "id": "image_mobile",
       "label": "Image Mobile",
       "info": "750 x 1100px recommended"
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Apply overlay on image",
      "info": "This can improve text visibility.",
      "default": true
    }
  ],
  "presets": [
	{
      "category": "Pages",
      "name": "Header",
      "settings": {}
	}
  ]
}
{% endschema %}