<!-- sections/my-cart.liquid -->

<div id="myCart_mainContainer" class="myCart_mainContainer myCart_open">
  <div class="myCart_floating"> 
    <form id="myCart_slider" action="{{ routes.cart_url }}" method="post" class="my-cart" >
      {% comment %} data-ajax-cart-section makes the element's HTML update when the cart gets changed {% endcomment %}
      <div data-ajax-cart-section>

        <div class="myCart_header" >
          <h2 class="myCart_heading Heading u-h5">Warenkorb</h2>
          <a class="myCart_closeSlide myCart_close" 
             data-ajax-cart-toggle-class-button="js-my-cart-open" 
             href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0"
             onclick="overlayOff()">
            <svg width="15" viewBox="0 0 10 10"><path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path></svg>
          </a>
        </div>

        {% comment %} data-ajax-cart-section-scroll keeps the scroll position unchanged when the element's HTML is changed {% endcomment %}
        <div class="myCart_items" data-ajax-cart-section-scroll>

          {% if cart.item_count == 0 %}
            <div class="myCart_emptyCartMessage">
              <h2 class="Heading u-h3">Der Warenkorb ist leer</h3>
              <div style="font-size: 60px;"><span class="icon-shopping-cart"></span></div>
            </div>
          {% endif %}
          
          {% for item in cart.items %}

          <div class="myCart_itemWrapper">

            {% comment %} remove button {% endcomment %}
            <div class="myCart_imageWrapper">
              <img class="myCart_imageCart" src="{{ item.image | image_url: width: 300 }} ">
            </div>
            <div class="myCart_contentWrapper">
              {% assign item_index = forloop.index %}
              {% comment %} item title {% endcomment %}
              <h2 class="Heading u-h6"><a href="{{ item.url }}">{{ item.product.title }}</a></h2>
              {% for option in item.options_with_values %}
              	<p class="myCart_p">{{ option.value }}</p>
              {% endfor %}

              <div >
                
                <div class="myCart_quantityWrapper">
                  {% comment %} quantity selector {% endcomment %}
                  <div class="myCart_quantitySelector">
                    {% comment %} data-ajax-cart-request-button ajaxifies the "Minus one" button {% endcomment %}
                    <a class="myCart_button" 
                       data-ajax-cart-request-button 
                       href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >

                      <svg width="10" viewBox="0 0 12 2" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 0H.75C.3 0 0 .4 0 1s.3 1 .75 1h10.5c.45 0 .75-.4.75-1s-.3-1-.75-1z" fill="#7A7A7A" fill-rule="nonzero"></path></svg>

                    </a>
                    {% comment %} Input {% endcomment %}
                    <input class="myCart_input" 
                           data-ajax-cart-quantity-input="{{ item_index }}" 
                           name="updates[]" 
                           value="{{ item.quantity }}" 
                           type="number" />

                    {% comment %} data-ajax-cart-request-button ajaxifies the "Plus one" button {% endcomment %}
                    <a class="myCart_button"
                       data-ajax-cart-request-button 
                       href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}">

                      <svg width="10" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11 5H7V1a1 1 0 00-2 0v4H1a1 1 0 000 2h4v4a1 1 0 002 0V7h4a1 1 0 000-2z" fill="currentColor" fill-rule="nonzero"></path></svg>

                    </a>
                  </div>

                  {% comment %} final price of item {% endcomment %}
                  <div class="Heading myCart_priceContainer">
                    {% if item.original_line_price > item.final_line_price %}
                    	<span class="CartItem__Price Price Price--highlight">{{ item.final_line_price | money }}</span>
                    {%- endif -%}
                    <span class="CartItem__Price Price {% if item.original_line_price > item.final_line_price %}Price--compareAt{%- endif -%}">{{ item.original_line_price | money }}</span>
                  </div>
                </div>
                
                
                {%- if item.line_level_discount_allocations != blank -%}
                <div>
                  <ul class="CartItem__DiscountList" style="margin:0;">
                    {%- for discount_allocation in item.line_level_discount_allocations -%}
                    <li class="CartItem__Discount">
                      {%- render 'icon' with 'sale' -%}{{ discount_allocation.discount_application.title }}: -{{ discount_allocation.amount | money }}
                    </li>
                    {%- endfor -%}
                  </ul>
                </div>
                {%- endif -%}

              </div>
             </div>
            
            {% comment %} remove button {% endcomment %}
            <div class="myCart_removeWrapper">
              <a class="myCart_remove" data-ajax-cart-request-button href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0">
                <svg width="12" viewBox="0 0 10 10"><path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path></svg>
              </a>
            </div>

            {% comment %}
            {% comment %} Container for errors {% endcomment %}
            <div data-ajax-cart-messages="{{ item.key }}"></div>
            {% endcomment %}
            </div>
          
          {% endfor %}


        </div>
      </div>
      <div>
        <div class="myCart_footerWrapper">
          <div class="myCart_versandWrapper">
            <h2 class="Heading u-h6">Versand</h2>
            <p class="myCart_p myCart_gratis">Gratis  </p>
          </div>
          <div class="myCart_totalCartWrapper">
            <h2 class="Heading u-h6">Zwischensumme</h2>
            <p class="Cart__Total Heading u-h5 myCart_p" data-ajax-cart-bind-state="cart.total_price | money_with_currency">{{ cart.total_price | money_with_currency }}</p>
          </div>
          <button class="Button Button--primary Button--full" 
                  type="submit" 
                  name="checkout">
            Zur Kasse
          </button>
        </div>

        {% render 'my-cart-payment-methods' %}

      </div>

      {% comment %}
      {% comment %} data-ajax-cart-property-input ajaxifies the cart note textarea {% endcomment %}
      <textarea data-ajax-cart-property-input
                name="note" 
                placeholder="Cart note">
        {{ cart.note }}
      </textarea>
      {% endcomment %}

      {% comment %} data-ajax-cart-static-element keeps the container unchanged when the cart and the surrounding HTML get updated {% endcomment %}
      <div data-ajax-cart-static-element class="my-cart__app-container"></div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
      var offsetY = window.pageYOffset,
          $body = $('body'),
          $win = $(window),
          $close = $('.myCart_close'),
          $open = $('.myCart_open'),
          $holder = $('#myCart_mainContainer'),
          
      // Close with 'esc' key
      $(document).keyup(function (e) {
          if (e.keyCode == 27) $close.trigger('click');
      });
      $open.click(function () {
          offsetY = window.pageYOffset;
          // Block scrolling
          $body.css({
              'position': 'fixed',
                  'color': '#FFFF00',
                  'backgroundColor': '#00D',
                  'top': -offsetY + 'px'
          });
        
          // Show popup
          $holder.css('display', 'block');
      });

      $close.click(function () {
        
          // Allow scrolling again
          $body.css({
              'position': 'static',
                  'color': '',
                  'backgroundColor': ''
          });
          /**
           * Remove the following scrollTop()'s if you want.
           * just a UI tweak that the user would expect.
           **/
          // Make the page stay at the position it was at before the overlay
          $win.scrollTop(offsetY);
          // Reset the overlay scroll position to the top
          $stuff.scrollTop(0);
          // Hide popup
          $holder.css('display', 'none');
      });
  });
</script>


<script>
  function overlayOn() {
    document.getElementById("myCart_Overlay").style.display = "block";
    
    document.body.style.overflow = 'hidden';
  }

  function overlayOff() {
    document.getElementById("myCart_Overlay").style.display = "none";
    
    document.body.style.overflow = '';
  }
</script>


{% schema %}
  {
	"name": "My Cart" 
  }
{% endschema %}


