<!-- sections/my-cart.liquid -->
<div id="my-container__cart" class="my-container__cart open-cart">
  <div class="my-floating-cart"> 
    <form id="cart_slider" action="{{ routes.cart_url }}" method="post" class="my-cart" >
    
      <!-- data-ajax-cart-section makes the element's HTML update
      when the cart gets changed -->
      
      <div data-ajax-cart-section>
        <div class="cart-header close-cart" data-ajax-cart-toggle-class-button="js-my-cart-open">
          <h2 class="heading_cart">Warenkorb</h2>
          <a class="close-slide-cart" href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0"
             onclick="overlayOff()">
            <svg width="15" viewBox="0 0 10 10"><path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path></svg>
          </a>
        </div>

        <!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
        when the element's HTML is changed -->
        <div class="my-cart__items" data-ajax-cart-section-scroll>

          {% for item in cart.items %} 
          
          <div class="item_wrapper">
            <!-- remove button -->
            <div class="remove_cart">
              <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0">
                <svg width="9" viewBox="0 0 10 10"><path d="M9.677 8.118a1.102 1.102 0 11-1.559 1.56L5 6.558 1.882 9.677a1.102 1.102 0 11-1.56-1.559L3.442 5 .323 1.882A1.102 1.102 0 111.882.322L5 3.442 8.118.323a1.102 1.102 0 111.56 1.559L6.558 5l3.118 3.118z" fill="#cacaca" fill-rule="nonzero"></path></svg>
              </a>
            </div>
            <!-- remove button -->
            <div>
              <img class="image_cart" src="{{ item.image | image_url: width: 300 }} ">
            </div>
            <div class="content_cart_wrapper">
              {% assign item_index = forloop.index %}
              <!-- item title -->
              <h2 class="h2_cart">
                <a class="h2_cart" href="{{ item.url }}">{{ item.product.title }}</a>
              </h2>
              {% for option in item.options_with_values %}
              <p class="my-cart_optionValue">{{ option.value }}</p>
              {% endfor %}

              <div class="quantity_price_wrapper">
                <!-- quanity selector -->
                <div class="quantity-selector">
                  <!-- data-ajax-cart-request-button ajaxifies the "Minus one" button -->
                  <a class="button_cart" 
                     data-ajax-cart-request-button 
                     href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" >

                    <svg width="10" viewBox="0 0 12 2" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 0H.75C.3 0 0 .4 0 1s.3 1 .75 1h10.5c.45 0 .75-.4.75-1s-.3-1-.75-1z" fill="#7A7A7A" fill-rule="nonzero"></path></svg>

                  </a>
                  <!-- Input -->
                  <input class="input_cart" 
                         data-ajax-cart-quantity-input="{{ item_index }}" 
                         name="updates[]" 
                         value="{{ item.quantity }}" 
                         type="number" />
                  <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
                  <a class="button_cart"
                     data-ajax-cart-request-button
                     href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}">

                    <svg width="10" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M11 5H7V1a1 1 0 00-2 0v4H1a1 1 0 000 2h4v4a1 1 0 002 0V7h4a1 1 0 000-2z" fill="currentColor" fill-rule="nonzero"></path></svg>

                  </a>
                </div>

                <!-- final price of item -->
                <div class="my-cart_itemPrice">
                  {{ item.final_line_price | money }}
                </div>
              </div>
            </div>

            {% comment %}
            <!-- Container for errors -->
            <div data-ajax-cart-messages="{{ item.key }}"></div>
            {% endcomment %}
            </div>
          
          {% endfor %}

        </div>
      </div>
      
      <!-- data-ajax-cart-static-element keeps the container unchanged when the cart and the surrounding HTML get updated -->
      <div data-ajax-cart-static-element class="my-cart__app-container"></div>
      
      <div class="myCart_bottomSection">
        {% comment %}{% render 'my-cart-upsells' %}{% endcomment %}
        <div class="myCart_footerSection">
          <div class="footer_cart_wrapper">
            <div class="versand_cart_wrapper" data-ajax-cart-section>
              {% assign price_to_compare = cart.total_price | money_without_trailing_zeros | plus: 0 %}
              {% if price_to_compare > 99 %}
                <p class="p_cart">Versand</p>
                <p class="p_cart my-cart_gratis">
                  Gratis
                </p>
              {% endif %}
            </div>
            <div class="total_cart_wrapper">
              <p class="p_cart">Zwischensumme</p>
              <p class="p_cart my-cart_totalPrice" data-ajax-cart-bind-state="cart.total_price | money_with_currency">{{ cart.total_price | money_with_currency }}</p>
            </div>
            <button class="my-cart_button bttn" 
                    type="submit" 
                    name="checkout">
              Zur Kasse
            </button>
          </div>

          {% render 'my-cart-payment-icons' %}
        </div>
      </div>

        {% comment %}
        <!-- data-ajax-cart-property-input ajaxifies the cart note textarea -->
        <textarea data-ajax-cart-property-input
          name="note" 
          placeholder="Cart note">
          {{ cart.note }}
        </textarea>
        {% endcomment %}

    </form>
  </div>
</div>

<script>
  function overlayOn() {
    document.getElementById("cart-overlay").style.display = "block";
  }
  
  function overlayOff() {
    document.getElementById("cart-overlay").style.display = "none";
  }
</script>



{% schema %}
  {
	"name": "My Cart" 
  }
{% endschema %}