<!-- text-simple.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'product-custom.css' | asset_url | stylesheet_tag }}

{% style %}
  .TextSimple__Content-{{ section.id }}{
    position: relative;
  }
  .FeatureText__ContentWrapper{
    display: flex;
    justify-content: center;
  }
  .Button__Blocks{
    margin: 10px 0;
  }
{% endstyle %}

<section class="Section">
      
    <div class="FeatureText__ContentWrapper" 
         style="{% if section.settings.bg-color != blank %}background-color: {{ section.settings.bg-color }}; {% endif %} 
                {% if section.settings.section_margin != blank %}margin: {{ section.settings.section_margin }}; {% endif %}">
      <div class="FeatureText__Content_addons TextSimple__Content-{{ section.id }}" 
           style="background-color: {{ section.settings.bg-color-text }}; 
                  text-align:{{ section.settings.text_align }}; 
           		  {% if section.settings.content_top_margin != blank %}margin-top: {{ section.settings.content_top_margin }}; {% endif %}
           		  {% if section.settings.content_top_margin != blank %}margin-bottom: {{ section.settings.content_bottom_margin }}; {% endif %}">
		{% for block in section.blocks %}
          {% case block.type %}
        	{% when 'subheading' %}
              <p class="SectionHeader__SubHeading Heading u-h6">{{ block.settings.subheading | escape }}</p>
        
			{% when 'title' %}
              <h2 class="SectionHeader__Heading Heading u-h2">{{ block.settings.title | escape }}</h2>
        
	        {% when 'richtext' %}
                <div class="Container--extraNarrow">
                  {{ block.settings.richtext }}
                </div>
        
	        {% when 'liquid' %}
        		<div>
                  {{ block.settings.liquid }}
                </div>
        
            {% when 'button' %}
                  <div class="Button__Blocks">
                    <a href="{{ block.settings.button_url }}" class="Button Button--primary">
                        {{ block.settings.button_text }}
                    </a>
                  </div>

        	{% when 'image' %}
                <img data-src="{{ block.settings.image | img_url:'master' }}" class="image-text-simple Image--lazyLoad" />

          {% endcase %}
        {% endfor %}
      </div>
    </div>
</section>


{% schema %}
{
  "name": "One column content",
  "class": "shopify-section--bordered",
  "settings": [
	  {
		"type": "header",
		"content": "Sections"
	  },
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background's section",
		"default": "#F8F8F8"
      },
      {
        "type": "text",
        "id": "section_margin",
        "label": "Section's margin",
        "default": "50px 0"
      },
	  {
		"type": "header",
		"content": "Content"
	  },
      {
        "type": "color",
        "id": "bg-color-text",
        "label": "Background Color Text",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text Align",
        "info": "Align your text to the left or center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "left"
      },
      {
        "type": "text",
        "id": "content_top_margin",
        "label": "Content box's BOTTOM margin",
        "default": "50px 0"
      },
      {
        "type": "text",
        "id": "content_bottom_margin",
        "label": "Content box's TOP margin",
        "default": "50px 0"
      }
    ],
  "blocks": [
      { 
        "type": "subheading",
        "name": "Subheading",
        "settings": [
            {
              "type": "text",
              "id": "subheading",
              "label": "Sub-heading",
              "default": "Sub-heading"
            }
		]
      },
	  { 
        "type": "title",
        "name": "Title",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Title"
            }
		]
      },
      { 
        "type": "richtext",
        "name": "Richtext",
        "settings": [
            {
              "type": "richtext",
              "id": "richtext",
              "label": "Text",
              "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
            }
		]
      },
      { 
        "type": "liquid",
        "name": "Liquid",
        "settings": [
            {
              "type": "liquid",
              "id": "liquid",
              "label": "Liquid block for more styling",
              "default": "<p>ERASE the content of the block ABOVE is you want to use this block</p>"
            }
		]
      },
      { 
        "type": "button",
        "name": "Button",
        "settings": [
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text"
            },
            {
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            }
		]
      },
      { 
        "type": "image",
        "name": "Image",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
		]
      }
	],
  "presets": [
    {
      "name": "One column content"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
