{% style %}
.full-bg-color-product-details{
  background-color: {{ section.settings.bg-color }};
}
{% endstyle %}

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'product-custom.css' | asset_url | stylesheet_tag}}
{{ 'icons-text.css' | asset_url | stylesheet_tag }}

<div class="full-bg-color-product-details">
  <div class="medium-grid">
    
    {% if product.tags contains "cover-summer-Cotton-Organic" %}
      <p class="SectionHeader__SubHeading Heading u-h6 center-text">{{ section.settings.subheading_tag1 | escape }}</p>
      <h2 class="SectionHeader__Heading Heading u-h1 center-text">{{ section.settings.title_tag1 | escape }}</h2>
    {% endif %}
    
    {% if product.tags contains "cover-summer-Cotton-Normal" %}
      <p class="SectionHeader__SubHeading Heading u-h6 center-text">{{ section.settings.subheading_tag2 | escape }}</p>
      <h2 class="SectionHeader__Heading Heading u-h1 center-text">{{ section.settings.title_tag2 | escape }}</h2>
    {% endif %}
    
    {% if product.tags contains "cover-4-season—Minky-Plush" %}
      <p class="SectionHeader__SubHeading Heading u-h6 center-text">{{ section.settings.subheading_tag3 | escape }}</p>
      <h2 class="SectionHeader__Heading Heading u-h1 center-text">{{ section.settings.title_tag3 | escape }}</h2>
    {% endif %}
    
    {% if product.tags contains "cover-summer-plus-Cotton-Plush" %}
      <p class="SectionHeader__SubHeading Heading u-h6 center-text">{{ section.settings.subheading_tag4 | escape }}</p>
      <h2 class="SectionHeader__Heading Heading u-h1 center-text">{{ section.settings.title_tag4 | escape }}</h2>
    {% endif %}
    
    {% if product.tags contains "cover-basic-Cotton-Polyester" %}
      <p class="SectionHeader__SubHeading Heading u-h6 center-text">{{ section.settings.subheading_tag5 | escape }}</p>
      <h2 class="SectionHeader__Heading Heading u-h1 center-text">{{ section.settings.title_tag5 | escape }}</h2>
    {% endif %}
    
    <div class="product-details-infomation">
      <div class="product-page-title-line"></div>
      <div class="product-details-infomation-section">

      {% if product.tags contains "cover-summer-Cotton-Organic" %}
        {% for block in section.blocks %}
          <details>
            <summary>{{ block.settings.title_block_tag1 }}</summary>
            {% if block.settings.html_content_tag1 != blank %}
              <div>{{ block.settings.html_content_tag1 }}</div>
            {% endif %}
           </details>  
        {% endfor %}
      {% endif %}
        
      {% if product.tags contains "cover-summer-Cotton-Normal" %}
        {% for block in section.blocks %}
          <details>
            <summary>{{ block.settings.title_block_tag2 }}</summary>
            {% if block.settings.html_content_tag2 != blank %}
              <div>{{ block.settings.html_content_tag2 }}</div>
            {% endif %}
           </details>  
        {% endfor %}
      {% endif %}
        
      {% if product.tags contains "cover-4-season—Minky-Plush" %}
        {% for block in section.blocks %}
          <details>
            <summary>{{ block.settings.title_block_tag3 }}</summary>
            {% if block.settings.html_content_tag3 != blank %}
              <div>{{ block.settings.html_content_tag3 }}</div>
            {% endif %}
           </details>  
        {% endfor %}
      {% endif %}
        
      {% if product.tags contains "cover-summer-plus-Cotton-Plush" %}
        {% for block in section.blocks %}
          <details>
            <summary>{{ block.settings.title_block_tag4 }}</summary>
            {% if block.settings.html_content_tag4 != blank %}
              <div>{{ block.settings.html_content_tag4 }}</div>
            {% endif %}
           </details>  
        {% endfor %}
      {% endif %}
        
      {% if product.tags contains "cover-basic-Cotton-Polyester" %}
        {% for block in section.blocks %}
          <details>
            <summary>{{ block.settings.title_block_tag5 }}</summary>
            {% if block.settings.html_content_tag5 != blank %}
              <div>{{ block.settings.html_content_tag5 }}</div>
            {% endif %}
           </details>  
        {% endfor %}
      {% endif %}
        
      </div>
    </div>
  </div>
</div>        



<center>
  <div class="icons21_wrapper_products">
    <div class="icons21_wrapper_block">
      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Cotton01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span
            class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span
            class="path7"></span></span>
        <p>Organische Baumwolle</p>
      </div>

      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Europe01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span
            class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span
            class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span
            class="path11"></span><span class="path12"></span><span class="path13"></span><span
            class="path14"></span></span>
        <p>Handgefertigt in Europa</p>
      </div>

      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Sustainable01 icons21_font_size"
          style="font-size: {{ section.settings.icons_size }};"><span class="path1"></span><span
            class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span
            class="path6"></span><span class="path7"></span><span class="path8"></span></span>
        <p>Nachhaltige Herstellung</p>
      </div>
    </div>

    <div class="icons21_wrapper_block">
      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Vegan01 icons21_font_size" style="font-size: {{ section.settings.icons_size }};"><span
            class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
            class="path5"></span></span>
        <p>100% Vegan</p>
      </div>

      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Allergy01 icons21_font_size" style="font-size: {{ section.settings.icons_size }};"><span
            class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
            class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span
            class="path9"></span><span class="path10"></span><span class="path11"></span><span
            class="path12"></span><span class="path13"></span><span class="path14"></span><span
            class="path15"></span><span class="path16"></span></span>
        <p>Antiallergisch</p>
      </div>

      <div class="icons21_small_wrapper_products">
        <span class="icon-Icons_Quality01 icons21_font_size" style="font-size: {{ section.settings.icons_size }};"><span
            class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
            class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span
            class="path9"></span><span class="path10"></span><span class="path11"></span><span
            class="path12"></span><span class="path13"></span></span>
        <p>Hochwertige Verarbeitung</p>
      </div>
    </div>
  </div>
</center>

    


{% schema %}
{
  "name": "More Information Cover",
  "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Background Color"
      },
      {
        "type": "text",
        "id": "subheading_tag1",
        "label": "Title for Cotton Organic",
        "default": "Cotton Organic Subheading Example"
      },
      {
        "type": "text",
        "id": "title_tag1",
        "label": "Title for Cotton Organic",
        "default": "Cotton Organic Title Section Example"
      },
      {
        "type": "text",
        "id": "subheading_tag2",
        "label": "Title for Cotton Normal",
        "default": "Cotton Normal Subheading Example"
      },
      {
        "type": "text",
        "id": "title_tag2",
        "label": "Title for Cotton Normal",
        "default": "Cotton Normal Title Section Example"
      },
      {
        "type": "text",
        "id": "subheading_tag3",
        "label": "Title for Minky Plush",
        "default": "Minky Plush Subheading Example"
      },
      {
        "type": "text",
        "id": "title_tag3",
        "label": "Title for Minky Plush",
        "default": "Minky Plush Title Section Example"
      },
      {
        "type": "text",
        "id": "subheading_tag4",
        "label": "Title for Cotton Plush",
        "default": "Cotton Plush Subheading Example"
      },
      {
        "type": "text",
        "id": "title_tag4",
        "label": "Title for Cotton Plush",
        "default": "Cotton Plush Title Section Example"
      },
      {
        "type": "text",
        "id": "subheading_tag5",
        "label": "Title for Cotton Polyester",
        "default": "Cotton Polyester Subheading Example"
      },
      {
        "type": "text",
        "id": "title_tag5",
        "label": "Title for Cotton Polyester",
        "default": "Cotton Polyester Title Section Example"
      }

	],
 "blocks": [
        {
            "type": "info-product-details",
            "name": "Info Product Details",
            "settings": [
                {
                    "type": "text",
                    "id": "title_block_tag1",
                    "label": "Title for Cotton Organic",
                    "default": "Place your title for Cotton Organic"
                },
                {
                    "type": "html",
                    "id": "html_content_tag1",
                    "label": "Top Content for Cotton Organic",
					"default": "<p>Place here your content for <b>Cotton Organic</b></p>"
                },
                {
                    "type": "text",
                    "id": "title_block_tag2",
                    "label": "Title Block for Cotton Normal",
                    "default": "Place your title for Cotton Normal"
                },
                {
                    "type": "html",
                    "id": "html_content_tag2",
                    "label": "Content at the beginning of the block for Cotton Normal",
                    "default": "<p>Place here your content for <b>Cotton Normal</b></p>"
                },
                {
                    "type": "text",
                    "id": "title_block_tag3",
                    "label": "Title Block for Minky Plush",
                    "default": "Place your title for Minky Plush"
                },
                {
                    "type": "html",
                    "id": "html_content_tag3",
                    "label": "Content at the beginning of the block for Minky Plush",
                    "default": "<p>Place here your content for <b>Minky Plush</b></p>"
                },
                {
                    "type": "text",
                    "id": "title_block_tag4",
                    "label": "Title Block for Cotton Plush",
                    "default": "Place your title for Cotton Plush"
                },
                {
                    "type": "html",
                    "id": "html_content_tag4",
                    "label": "Content at the beginning of the block for Cotton Plush",
                    "default": "<p>Place here your content for <b>Cotton Plush</b></p>"
                },
                {
                    "type": "text",
                    "id": "title_block_tag5",
                    "label": "Title Block for Cotton Polyester",
                    "default": "Place your title for Cotton Polyester"
                },
                {
                    "type": "html",
                    "id": "html_content_tag5",
                    "label": "Content at the beginning of the block for Cotton Polyester",
                    "default": "<p>Place here your content for <b>Cotton Polyester</b></p>"
                }
            ]
        }
    ],
  "presets": [
    {
      "category": "Therapiedecken Cover Template",
      "name": "More Information Cover",
      "settings": {}
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}