{% style %}
.voucher_wrapper{
  position: relative;
}

.grey-rabat.rabatt-code-page {
  max-width: 600px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}

.overview-rabatt-code-page {
  display: flex;
  max-width: 1024px;
  margin: auto;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.listing-rabatt-code-page {
  display: inline-block;
  background: #f1f1f1;
  margin: auto 5px;
  padding: 5%;
  width: 30%;
  margin-top: 5%;
  text-align: center;
}
  
.listing-rabatt-code-page .Button--primary {
  	font-size: 10px!important;
    padding: 10px 15px;
  }
.insuranceSaleVoucher_ul li:before{
  color: #fac636;
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.insuranceSaleVoucher_ul li{
  list-style: none;
}

@media only screen and (max-width: 640px){  
  .grey-rabat.rabatt-code-page {
    margin: -50px auto 5%;
  }
  .listing-rabatt-code-page {
    width: 45%;
    min-height: 460px;
  }

  .insuranceSaleVoucher_FeaturedText{
	text-align: left;
  }
}
  

{% endstyle %}

<div id="rabatt_code" style="position: relative; top: -200px;"></div>

<div class="voucher_wrapper grey-rabat rabatt-code-page">
  <div class="tresc">
    <h2 class="Heading u-h2">{{ section.settings.discount_heading }}</h2>
    <p>{{ section.settings.discount_subheading }}</p>
    <div class="white-rabat"><b>{{ section.settings.discount_code }}</b></div>
    <a href="{{ section.settings.button_url }}">
      <div class="Button Button--primary" style="margin-bottom:15px">{{ section.settings.button_text }}</div>
    </a>
    {{ section.settings.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Voucher",
    "settings": [
      {
        "type": "text",
        "id": "discount_heading",
        "label": "Discount heading",
        "default": "Jetzt sparen!"
      },
      {
        "type": "text",
        "id": "discount_subheading",
        "label": "Discount subheading",
        "default": "Erhalten Sie 10€ Rabatt mit Code:"
      },
      {
        "type": "text",
        "id": "discount_code",
        "label": "Discount subheading",
        "default": "DAK-10"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "JETZT EINLÖSEN"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Wir fragen ggf. nach den letzten 4 Ziffern der Versicherungsnummer für Ihre Bestellung..</p>"
      }
    ],
    "presets": [
      {
        "name": "Voucher"
      }
    ],
    "templates": ["page"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}